    /* pc */
    @media screen and (min-width: 768px) {

        body {
            background-color: #e2edc2;
            font-size: 14px;
            color: #666666;
        }

        #container {
            width: 900px;
        }

        #header {
            height: 140px;
            /* background-image:url(img/bg_header.png); */
            background-image: linear-gradient(90deg,
                    #86A331 25%, #9EB55A 25%, #9EB55A 50%, #86A331 50%, #86A331 75%, #9EB55A 75%, #9EB55A);
            background-size: 15px 15px;
        }

        #menu {
            width: 265px;
            float: left;
        }

        #content {
            width: 635px;
            float: right;
            background-color: #ffffff;
        }

        #header h1 {
            padding-top: 32px;
            padding-left: 50px;
            font-weight: bold;
            font-size: 50px;
        }

        img {
            border-style: none;
        }

        #menu ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        #menu li {
            border-style: solid;
            border-width: 1px;
            border-color: #86a331;
            padding: 10px 10px 10px 6px;
            background-color: #ffffff;
            margin-top: 14px;
            margin-right: 14px;
        }

        a:link {
            /* color: #6a8125; */
            text-decoration: none;
        }

        a:hover {
            color: #f3a42c;
        }

        #content h2 {
            padding-left: 16px;
            margin-left: 70px;
            margin-top: 30px;
            margin-bottom: 30px;
        }


        #content h3 {
            /* background-image: url(img/icon.png); */
            background-repeat: no-repeat;
            background-position: left center;
            color: #6a8125;
            padding-left: 30px;
            /* margin-left: 15px; */
            clear: both;
            /* display: table-cell; */
            margin-top: 70px;
        }

        #content p {
            padding-right: 15px;
            padding-left: 15px;
            /* display: inline-block; */
            clear: both;
        }

        #content p img {
            float: right;
            margin-bottom: 50px;
        }

        #footer {
            text-align: center;
            clear: right;
            padding-top: 20px;
            padding-bottom: 20px;
        }


        .parent {
            display: flex;
        }

        .child1 {
            flex: 2;
            text-align: center;
        }

        .child2 {
            flex: 1;
            text-align: center;
            margin-right: 30px;
        }

        .img01 {
            margin-top: 60px;
        }

        .img02 {
            margin-top: 70px;
        }


        .a {
            text-align: right;
        }

        .yen {
            margin-left: 150px;
        }


    }













    /* sp */
    @media screen and (max-width: 767px) {

        html {
            width: 100vw;
        }



        body {
            background-color: #e2edc2;
            font-size: 14px;
            color: #666666;
        }

        #container {
            width: 95vw;
        }

        #header {
            height: 140px;
            background-image: linear-gradient(90deg,
                    #86A331 25%, #9EB55A 25%, #9EB55A 50%, #86A331 50%, #86A331 75%, #9EB55A 75%, #9EB55A);
            background-size: 15px 15px;
            width: 95vw;
        }

        #menu {
            width: 265px;
            float: left;
        }

        #content {
            width: 95vw;
            background-color: #ffffff;
            margin-top: 135px;
        }

        #header h1 {
            padding-top: 32px;
            padding-left: 50px;
            font-weight: bold;
            font-size: 50px;
        }

        img {
            border-style: none;
            width: 100%;
        }

        #menu ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        #menu li {
            border-style: solid;
            border-width: 1px;
            border-color: #86a331;
            padding: 10px 10px 10px 6px;
            background-color: #ffffff;
            margin-top: 14px;
            margin-right: 14px;
        }

        a:link {
            text-decoration: none;
        }

        a:hover {
            color: #f3a42c;
        }

        #content h2 {
            padding-left: 5px;
            margin-left: 70px;
            padding-top: 30px;
            margin-bottom: 30px;
        }


        #content h3 {
            /* background-image: url(img/icon.png); */
            background-repeat: no-repeat;
            background-position: left center;
            color: #6a8125;
            clear: both;
            /* display: table-cell; */
            /* padding-left: 6%; */
            margin-left: 4%;
            margin-top: 20%;
        }

        #content p {
            padding-right: 15px;
            padding-left: 15px;
            /* display: inline-block; */
            clear: both;
        }

        #content p img {
            float: right;
        }

        #footer {
            text-align: center;
            clear: right;
            padding-top: 20px;
            padding-bottom: 20px;
        }


        .parent {
            display: flex;
        }

        .child1 {
            flex: 2;
            text-align: center;
            width: 40%;
        }

        .child2 {
            flex: 1;
            text-align: center;
            margin-right: 30px;
            width: 40%;
        }

        .img-01 {
            /* margin-top: 90%; */
            margin-bottom: 2%;
        }

        .img-02 {
            /* margin-top: 120%; */
        }


        table {
            /* width: 85vw; */
            table-layout: fixed;
        }

        .q {
            min-width: 50px;
        }

        .qq {
            width: 100%;
        }


        .table-scroll {
            overflow: auto;
            /*スクロールさせる*/
            white-space: nowrap;
            /*文字の折り返しを禁止*/
        }

        /* 以下、スクロールバーを追加 */
        .table-scroll::-webkit-scrollbar {
            height: 5px;
        }

        .table-scroll::-webkit-scrollbar-track {
            background: #999;
        }

        .table-scroll::-webkit-scrollbar-thumb {
            background: #333;
        }



        .yen {
            margin-left: 30%;
        }

    }